@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
}

.moreread {
    font-size: 2em;
    position: center;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.flexbox {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
}

.flexboxver {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.namequeue {
    border: 10px solid #F4F4F4;
    display: flex;
    align-items: center;
    background: #F4F4F4;
    border-radius: 20px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}


.wrapper.alt {
    padding: 0;
    width: 90%;
    box-shadow: 0px 0px 30px rgba(2, 3, 5, .1);
}

.spotlight {
    align-items: center;
    display: flex;
    width: 100%;
    background-color: #23e6a0;
}

.spotlight1 {
    -moz-align-items: center;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
    display: flex;
    width: 100%;
    background-color: #52daa9;
}

    .spotlight1 .image1 {
        order: 3;
        border-radius: 0;
    }
.spotlight .image1 img {
    border-radius: 0;
    width: 100%;
}

.spotlight .image {
    order: 1;
    border-radius: 0;
    width: 40%;
}

    .spotlight .image img {
        border-radius: 0;
        width: 100%;
    }

.spotlight .content {
    padding: 2em 4em 0.1em 4em;
    order: 2;
    max-width: 48em;
    width: 60%;
    text-align:center;
}
.spotlight1 .content {
    padding: 2em 4em 0.1em 4em;
    order: 2;
    max-width: 48em;
    width: 60%;
    text-align: center;
}


h1, .h1 {
    font-size: 4em;
}

.btns {
    margin: unset;
}


.create_btn {
    display: block;
    position: center;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: center;
    background-color: #EDB734;
    height: 100%;
    border-radius: 12px;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    color: white;
    text-align: center;
    font-size: 1.2em;
    font-weight: 100;
    width: 100%;
    border: solid #EDB734 10px;
}

    .create_btn:hover {
        background-color: #EDB734;
        color: white;
    }

